# Ignore Python environment files
env/
venv/
*.env

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
*.egg-info/
dist/
build/
*.egg

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore log files
*.log

# Ignore cache directories
.cache/
*.pyc

# Ignore configuration files
*.local
*.pkl
*.sqlite3
*.db

# Ignore system files
.DS_Store
Thumbs.db
